<!--Display Collections from parse-->
<%if (adverts.length === 0){%>

<%} else {%>

<% adverts.forEach(function(item, index) { %>

<div class="medium-3 large-3 cell icons">
    <a href="/advert_details/<%= item.id %>">

        <i class="fa fa-bullhorn awesome_font_img" style="height: 120px; margin: -40px 10px auto;" aria-hidden="true"></i>
        <div><p class="pack_name_text"><%= item.get("title") %></p></div>

    </a>

</div>

<% }); %>
<%}%>