<!--Display Collections from parse-->
<%if (adverts.length === 0){%>

<%} else {%>

<% adverts.forEach(function(item, index) { %>

<% ad_images.forEach(function (images, index) {%>

<div class="medium-3 large-3 cell icons">
    <a href="/advert_details/<%= item.id %>">
        <% if (item.get("art_work") === "undefined" || item.get("art_work") === undefined){ %>
        <center>
            <p class="none" style="margin: 145px 90px auto;"><b>No Artwork</b></p>
        </center>
        <div class="name_tag"><p class="pack_name_text"><%= item.get("pack_name") %></p></div>
        <% } else {%>
        <center>
            <img src="<%= item.get("art_work").url() %>" style="height: 250px">
        </center>
        <div class="name_tag"><p class="pack_name_text"><%= item.get("title") %></p></div>
        <%}%>
    </a>

</div>

<%})%>


<% }); %>
<%}%>