<!--Display Collections from parse-->
<%if ( authors.length === 0 ){%>
<div class="medium-3 large-3 cell icons">
    <p class="none">No Authors</p>
    <div class="name_tag"><p class="pack_name_text">No Authors</p></div>

</div>
<%}else {%>
<% authors.forEach(function(item, index) { %>

<div class="medium-3 large-3 cell icons">
    <a href="/author/<%= item.id %>">
        <center>
            <i class="fa fa-user fa-5x" style="color: palevioletred;margin-top: 85px;" aria-hidden="true"></i>
        </center>
        <div class="name_tag"><p class="pack_name_text"><%= item.get("name") %></p></div>
    </a>
</div>

<% }); %>
<%}%>