<!-- table for categories -->
<div class="contable">
    <table id="cattable">
        <th colspan="2" id="heading">
            CURRENT CATEGORIES
        </th>
        <tr class="mainrow">
            <th>CATEGORY NAME</th>
            <th>OPTIONS</th>
        </tr>
        <tr>
            <td class="categoryname">Silly</td>
            <td>
                <button id="editbtn1">EDIT</button> <button id="delbtn1">REMOVE</button>
            </td>
        </tr>
        <tr>
            <td class="categoryname">Sad</td>
            <td>
                <button id="editbtn1">EDIT</button> <button id="delbtn1">DELETE</button>
            </td>
        </tr>
    </table>
</div>