
<div class="contable">
    <table id="cattable">
        <th colspan="3" id="heading">
            CURRENT CATEGORIES
        </th>
        <tr class="mainrow">
            <th>No.</th>
            <th>CATEGORY NAME</th>
            <th>OPTIONS</th>
        </tr>
        <% categories.forEach(function(item, index) { %>
        <tr>
            <td><%=index%></td>
            <td class="categoryname"><%= item.get("name")%></td>
            <td>
                <button id="editbtn1" value="<%= item.get("objectId")%>">EDIT</button>
                <button id="delbtn1" value="<%= item.get("objectId")%>">REMOVE</button>
            </td>
        </tr>
        <% }); %>
    </table>
</div>
