
<div class="contable">
    <table id="cattable">
        <th colspan="3" id="heading">
            CURRENT CATEGORIES
        </th>
        <tr class="mainrow">
            <th>No.</th>
            <th>CATEGORY NAME</th>
            <th>OPTIONS</th>
        </tr>
        <% categories.forEach(function(item, index) { %>
        <tr>
            <td><%=index+1 %></td>
            <td><input type="text" class="categoryname" value="<%= item.get("name")%>" readonly></td>
            <td>
                <button class="editbtn1" value="<%= item.get("objectId")%>">EDIT</button>
                <button class="delbtn1" value="<%= item.get("objectId")%>">REMOVE</button>
            </td>
        </tr>
        <% }); %>
    </table>
</div>
