<!--Display Collections from parse-->

<div class="row small-up-1 medium-up-3 large-up-4">
    <% collections.forEach(function(item, index) { %>

    <div class="column">
        <a href="/collection/<%= item.id %>">
            <div class="coll-block">
                <div>
                    <p class="coll-name">  <%= item.get("collection_name") %></p>
                </div>
            </div>
        </a>
    </div>

    <% }); %>
</div>