<% if (locals.facts) { %>
<% if (facts.length === 0) { %>
<p class="none" style="margin: 0 !important;">None</p>
<% } else { %>
<% facts.forEach(function(item) { %>
<div class="truncate_title"><a class="home_pack_description" href="/storyedit/<%= item.id %>/<%= projectItem.id %>"><%= item.get("title") %></a></div>
<% }); %>
<div><a class="view_all" href="/stories/<%= projectItem.id %>">View All</a></div>
<% } %>
<% } else { %>
<p class="none" style="margin: 0 !important;">None</p>
<% } %>






