<!-- Footer -->
    <div class="columns small-12 large-12" style="background-color: white;margin-left:10px">
        <div class="footer">
            <a class="link" href="#"> ABOUT.  </a>
            <a class="link" href="#"> PRIVACY POLICY.</a>
        </div>
    </div>
<!-- Footer -->