<!-- Footer -->
    <div class="footer">
        <div class="columns small-12 large-12" style="background-color: white;margin-left:10px">
            <a class="uplink_2" href="#"> ABOUT.  </a> 
            <a class="uplink_2" href="#"> PRIVACY POLICY.</a>  
        </div>
    </div>
<!-- Footer -->