<!-- Cards -->
<% if (locals.categories) { %>
<% if (categories.length === 0) { %>
<p class="none">None</p>
<% } else { %>
<% categories.forEach(function(item) { %>
<div class="home_pack_description"><%= item.get("name") %></div>
<% }); %>
<div><a class="view_all" href="/categories">View All</a></div>
<% } %>
<% } else { %>
<p class="none">None</p>
<% } %>


 
    
