<!-- Cards -->
<% if (categories.length === 0) { %>

<% } else { %>
<% categories.forEach(function(item) { %>
<div class="home_pack_description"><%= item.get("name") %></div>
<% }); %>
<% } %>
<div><a class="view_all" href="/categories">View All</a></div>

 
    
