<!-- Cards -->
<% if (locals.collections) { %>
<% if (collections.length === 0) { %>
      <p class="none">None</p>
<% } else { %>
<% collections.forEach(function(item) { %>
<div class="truncate_title"><a class="home_pack_description" href="/pack/<%= item.id %>"><%= item.get("name") %></a></div>
<% }); %>
<div><a class="view_all" href="/packs">View All</a></div>
<% } %>
<% } else { %>
<p class="none">None</p>
<% } %>



    
 
    
