<!-- Cards -->
<% if (collections.length === 0) { %>
<h1>no collections found</h1>
<% } else { %>
<% collections.forEach(function(item) { %>
<div><a class="GhanaTok" href="/collection/<%= item.id %>"><%= item.get("collection_name") %></a></div>
<% }); %>
<% } %>
<div><a class="view_all" href="/second_dashboard">View All</a></div>



    
 
    
