<!-- Links -->
<div class="row  small-up-5 medium-up-3 large-up-2">
    <!--<div class="columns large-3 small-12">-->
    <div class="row">
        <div class="columns small-7 large-5">
            <!--<div class="columns large-3 small-12">-->
            <a class="uplink" href="/dashboard"> Dashboard</a> ||
            <a class="uplink" href="/collections-dashboard"> View Collections</a> ||
            <a class="uplink" href="/add-stickers1">   Add Stickers 1</a> ||
            <a class="uplink" href="/add-stickers2">   Add Stickers 2</a> ||
            <a class="uplink" href="/add-to-collection">   Add To Collection</a> ||
        </div>
        <!--<div class="columns large-5 small-12">-->
        <!---->
        <!--</div>-->
        <div class="columns large-4 small-12">
            <br>
        </div>
    </div>
</div>
<!-- Links -->