<!-- Links -->
    <!--<div class="columns large-3 small-12">-->
    <div class="row">
        <div class="columns small-7 large-8">
            <!--<div class="columns large-3 small-12">-->
            <a class="uplink" href="/dashboard"> Dashboard</a> ||
            <a class="uplink" href="/collections-dashboard"> View Collections</a> ||
            <a class="uplink" href="/add-stickers2">Add Sticker</a> ||
            <a class="uplink" href="/categories">Select Categories</a>
            <!--<a class="uplink" href="/create-collection">  Create New Collection</a>-->
        </div>
        <div class="columns large-4 small-12">
            <br>
        </div>
    </div>
<!-- Links -->