 <!-- Links -->
            <div class="columns large-3 small-12">
                <div class="row">
                    <div class="columns large-3 small-12">
                        <a href="/stickers">Stickers </a>||<a class="sign-in" href="/dashboard"> Dashboard</a>
                    </div>
                    <!--<div class="columns large-5 small-12">-->
                       <!---->
                    <!--</div>-->
                    <div class="columns large-4 small-12">
                        <br>
                    </div>
                </div>
            </div>
            <!-- Links -->