<div><a class="_stickers" href="/home">Home</a></div>
<div><a class="_categories" href="/packs/<%= projectItem.id %>">Packs</a></div>
<div><a class="_stickers_packs" href="/reviews">Reviews</a></div>
<div><a class="_stickers_packs" href="/stories">Stories</a></div>
<div><a class="_stickers_packs" href="/categories">Categories</a></div>
<div><a class="_stickers_packs" href="/adverts">Adverts</a></div>
<div><a class="_stickers_packs" href="/products">Product IDs</a></div>
