<!--Display Collections from parse-->

    <% collections.forEach(function(item, index) { %>

    <div class="medium-3 large-3 cell Icons">
        <a href="/collection/<%= item.id %>">
                <div class="medium-3 large-3 cell Icons">
                    <img class="folder-icon" src="/public/assets/images/folder.png">
                    <div class="name_tag"><p class="sticker_name_text"><%= item.get("collection_name") %></p></div>
                </div>
        </a>
    </div>

    <% }); %>
