<!--Display Collections from parse-->

<% collections.forEach(function(item, index) { %>
<a href="/collection/<%= item.id %>">
    <div class="medium-3 large-3 cell icons">

        <img class="btn_pack_icon" src="/public/assets/images/btn-pack-icon.png">
        <div><p class="pack_name_text"><%= item.get("collection_name") %></p></div>

    </div>
</a>
<% }); %>
