<!--Display Collections from parse-->
<%if ( products.length === 0 ){%>
<div class="medium-3 large-3 cell icons">
    <p class="none" style="font-weight: 800 !important;width: 100%;">No Product IDs</p>
</div>
<%}else {%>
<% products.forEach(function(item, index) { %>

<div class="medium-3 large-3 cell icons">
    <a href="/product/<%= item.id %>">
        <% if (item.get("art_work") === "undefined" || item.get("artwork") === undefined){ %>
        <center>
            <p class="none"><b>No Artwork</b></p>
        </center>
        <div class="name_tag"><p class="pack_name_text"><%= item.get("name") %></p></div>
        <% } else {%>
        <center>
            <img class="pack_artwork" src="<%= item.get("artwork").url() %>" style="height: 250px">
        </center>
        <div class="name_tag"><p class="pack_name_text"><%= item.get("name") %></p></div>
        <%}%>
    </a>

</div>

<% }); %>
<%}%>