<!-- Cards -->

<div class="medium-3 large-3 cell icons">
    <%= username %>
    <% if (profile === "undefined"){ %>
        Profile Picture does not exist
    <%} else {%>
        <%= profile.get("uri").url() %>
    <%}%>
</div>
<div class="medium-3 large-3 cell icons">
<input type="file" name="profile_picture">
</div>
