<!-- Cards -->

<div class="medium-3 large-3 cell user_profile">

    <% if (profile === "undefined"){ %>
        Profile Picture does not exist
    <%} else {%>
    <img src="<%= profile %>">

    <%}%>
</div>
<div class="medium-3 large-3 cell icons">
    <%= username %>
<input type="file" name="profile_picture">
</div>
