<% if (reviews.length === 0){%>>
<div class="medium-3 large-3 cell icons">
    <center>
        <p class="none" style="margin: 145px 90px auto;"><b>No Reviews</b></p>
    </center>
</div>
<%} else {%>
<% reviews.forEach(function(item, index) { %>

<div class="medium-3 large-3 cell icons">
    <a href="/review/edit/<%= item.id %>">
        <% if (item.get("type") === 0){ %>
        <img style="width: 255px;margin-left: 30px;" src="https://cryptic-waters-41617.herokuapp.com/public/assets/images/packs.png">
        <div><p class="pack_name_text">Review on &nbsp;<%= item.get("name") %> Pack</p></div>
        <% } else {%>
        <img class="btn_pack_icon" style="height: 255px !important;" src="https://cryptic-waters-41617.herokuapp.com/public/assets/images/review_sticker.png">
        <div><p class="pack_name_text">Review on &nbsp;<%= item.get("name") %> Sticker</p></div>
        <%}%>
    </a>

</div>

<% }); %>

<%}%>