<!--<div class="row">-->
    <!--<div class="large-12 columns">-->
        <ul class="large-block-grid-4">

            <li id="sticker">img 1</li>
            <li id="sticker"><img  id="abi" src="/public/assets/images/abi you know.png"></li>
            <li  id="sticker">img 3</li>
            <li id="sticker">img 4</li>
        </ul>
    <!--</div>-->
<!--</div>-->