<!--<div class="row">-->
    <!--<div class="large-12 columns">-->
        <div class="row-small-up-2 medium-up-3 large-up-4">

            <div id="sticker">img 1</div>
            <div id="sticker"><img  id="abi" src="/public/assets/images/abi you know.png"></div>
            <div  id="sticker">img 3</div>
            <div id="sticker">img 4</div>
        </div>
    <!--</div>-->
<!--</div>-->