<!--<div class="row">-->
    <!--<div class="large-12 columns">-->

         <div class="row small-up-1 medium-up-3 large-up-4">
             <% stickers.forEach(function(item, index) { %>
             <div class="column">
                 <div class="block">
                     <img style="display: block; color: white;" id="abi" src="<%= item.get("uri").url() %>">
                     <div><h4 class="subheader">  <%= item.get("stickerName") %></h4></div>
                 </div>
             </div>
             <% }); %>
         </div>