<!-- Cards -->
 <% stickers.forEach(function(item, index) { %>
   <a href="/details/<%= item.id %>">
    <div class="medium-3 large-3 cell Icons">
      <img src="<%= item.get("uri").url() %>" class="gbeja_notxt">
      <div class="name_tag"><p class="sticker_name_text"><%= item.get("stickerName") %></p></div>
    </div>
    </a>
<% }); %>
    
 
    
