<div class="row">
    <div class="small-12 medium-12 large-12 columns">
        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">

            <% stickers.forEach(function(item, index) { %>

            <li>
                <div>
                    <img id="abi" src="<%= item.get("uri").url() %>">

                    <div><h4 class="subheader">  <%= item.get("stickerName") %></h4></div>

                </div>
            </li>
            <% }); %>

        </ul>
    </div>
</div>