<!--Display Collections from parse-->

<% story.forEach(function(item, index) { %>

<% artWork.forEach(function (art, index) { %>

<% if (art.get("object_id") === item.id){%>
<div class="medium-3 large-3 cell icons">
    <a href="/story_details/<%= item.id %>">

        <img class="btn_pack_icon" src="<%= art.get("sticker").url()%>">
        <div><p class="pack_name_text"><%= item.get("title") %></p></div>

    </a>

</div>
<%}%>
<% }); %>
<% }); %>
