<% if (locals.story) { %>
<% if (story.length === 0) { %>
<p class="none">None</p>
<% } else { %>
<% story.forEach(function(item) { %>
<div class="truncate_title"><a class="home_pack_description" href="/story_details/<%= item.id %>"><%= item.get("title") %></a></div>
<% }); %>
<div><a class="view_all" href="/stories">View All</a></div>
<% } %>
<% } else { %>
<p class="none">None</p>
<% } %>






