<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Details - G-Stickers</title>

    <% include ../../partials/fav.ejs %>
    <link rel="stylesheet" href="/public/assets/css/foundation.min.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/vendor/slick/slick.css"/>
    <link rel="stylesheet" href="/public/assets/css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css">
    <link href="/public/assets/css/evol-colorpicker.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--parse js-->
    <script src="https://npmcdn.com/parse/dist/parse.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/public/assets/js/evol-colorpicker.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/public/assets/js/jscolor-2.0.5/jscolor.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

    <script>
        let title;
        let text;
        let button;
        let topCard;
        let bottomCard;
        $(document).ready(function () {

            $(function () {
                $("#title_color").colorpicker();
                $("#text_color").colorpicker();
                $("#button_color").colorpicker();
                $("#topcard_color").colorpicker();
                $("#bottomcard_color").colorpicker();

                $("#title_color").on("change", function() {
                    title = $(this).val();
                    $("#title").val(title)
                });

                $("#text_color").on("change", function() {
                    text = $(this).val();
                    $("#text").val(text)
                });

                $("#button_color").on("change", function() {
                    button = $(this).val();
                    $("#button").val(button)
                });

                $("#topcard_color").on("change", function() {
                    topCard = $(this).val();
                    $("#topCard").val(topCard)
                });

                $("#bottomcard_color").on("change", function() {
                    bottomCard = $(this).val();
                    $("#bottomCard").val(bottomCard)
                });
            })
        });
    </script>
</head>

<body class="primary-background-color">
<div class="grid-container">
    <!-- Logo -->
    <div class="medium-12 large-12">
        <a href="/home">
            <img src="/public/assets/images/G_logo.png"
                 srcset="/public/assets/images/G_logo@2x.png 2x,/public/assets/images/G_logo@3x.png 3x" class="logo"
                 id="logo">
        </a>
        <a id="signoutLink" onclick="logoutUser()">LOGOUT</a>

    </div>
    <div id="pageMask"></div>
    <center>
        <span class="medium-12 large-12 welcome_post" id="pack_id"><b>Edit <i style="color: #a46580"><%= project.get("name") %></i> Project</b></span>
    </center>

    <!--End of logo-->
    <% include ../../partials/edit_project %>

</div>
</body>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="application/javascript"/>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>-->
<script type="text/javascript" src="/public/assets/vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="/public/assets/js/custom.js"></script>
<script type="text/javascript" src="/public/assets/js/fileup.js"></script>
<script type="text/javascript" src="/public/assets/js/validate.js"></script>
</html>