<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <title>Alerts</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet"  type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        /* -------------------------------------
    GLOBAL
------------------------------------- */
        @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

        * {
            margin: 0;
            padding: 0;
            font-family: 'Montserrat', sans-serif;
            box-sizing: border-box;
            font-size: 14px;
        }

        img {
            max-width: 100%;
        }

        body {
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: none;
            width: 100% !important;
            height: 100%;
            line-height: 1.6;
        }

        /* Let's make sure all tables have defaults */
        table td {
            vertical-align: top;
        }

        /* -------------------------------------
            BODY & CONTAINER
        ------------------------------------- */
        body {
            background-color: white;
        }

        .reset_password {
            width: 262px;
            height: 44px;
            font-family: 'Montserrat', sans-serif;
            font-size: 36px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -2.1px;
            text-align: left;
            color: #a46580;
        }

        a {
            text-decoration: none !important;
        }

        .request {
            margin-top: 50px;
            margin-bottom: 50px;
            width: 756px;
            height: 24px;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -1.2px;
            text-align: center;
            color: #636263;
        }

        .recieved_request {
            width: 820px;
            height: 48px;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -1.2px;
            text-align: center;
            color: #636263;
            margin-top: 55px;
        }

        .gstickerss_media {
            height: 19px;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.9px;
            text-align: center;
            color: #636263;
            margin-top: 80px;
        }

        ._logo{
            height: 70px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<center>
    <div>
        <img class="_logo" src="https://cryptic-waters-41617.herokuapp.com/public/assets/images/G_logo.png">
    </div>

    <div class="request">
        Subscribe
    </div>

    <a href="<%= serverURL %>newsletter/update/<%= id %>" class="reset_password">Kindly click on this Link to SUBSCRIBE </a>

    <div class="recieved_request">
        You’re receiving this email because you recently added a/some sticker(s).
        If this wasn’t you, please ignore this email
    </div>

    <div class="gstickerss_media">
        Follow gstickerss<br>
        <!--<span style="color:#003b84 "><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>Facebook</span>-->
        <!--<span style="color: #37a8e0;"><i class="fa fa-twitter-square fa-2x" aria-hidden="true" ></i> Twitter</span>-->
        <!--<span style="color: #ab4b74;"><i class="fa fa-instagram fa-2x" aria-hidden="true" ></i> Instagram</span>-->
        <span style="color:#003b84 ">Facebook &nbsp;&nbsp;</span>
        <span style="color: #37a8e0;">Twitter&nbsp;&nbsp;</span>
        <span style="color: #ab4b74;">Instagram</span>
    </div>

</center>

</body>
</html>

