<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../../../public/assets/css/newsletter.css">
    <link rel="stylesheet" href="../../../public/assets/css/newsletter.foundation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">


    <title>Thank You</title>
</head>

<body>

<div id="newsletter-thank-you" class="padding-top">
    <div class="deepPinkBg grid-container">
        <div class="grid-container grid-x align-middle">
            <div class="small-1"></div>
            <div class="small-10 grid-x">
                <div class="large-4 large-offset-4 small-6 small-offset-3 grid-x text-center align-center">
                    <div class="cell small-4">
                        <h1 style="font-family: 'Montserrat'; letter-spacing: -2px; font-weight: 800; color: #646464; padding-top: 13%; margin-left: -40%;">
                            Thank</h1>
                    </div>
                    <div class="small-4">
                        <img style="width: 100%;" src='../../../public/assets/images/newsletter/thank-you.png'
                             alt="Thank You"/>
                    </div>
                    <div class="small-4">
                        <h1 style="font-family: 'Montserrat'; letter-spacing: -2px; font-weight: 800; color: #646464; padding-top: 13%; margin-left: -3%;">
                            YOU!</h1>
                    </div>
                </div>
                <div class="large-4 large-offset-4 small-6 small-offset-3">
                    <p>Kindly Check your email</p>
                    <!--<input id="continue-btn" type="submit" class="button" value="Continue">-->
                </div>
            </div>
            <div class="small-1"></div>
        </div>
    </div>
</div>

</body>
</html>
