<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="/public/assets/css/custom.css">
</head>
<body style="background-image: none; background-color: white">
<center>
    <div>
        <img class="_logo" src="https://cryptic-waters-41617.herokuapp.com/public/assets/images/G_logo.png">
    </div>

    <div>
        <img style="margin-top: 20px" src="https://cryptic-waters-41617.herokuapp.com/public/assets/images/image-incoming.png">
    </div>
    <div class="email_success">
        We just sent you an email. Please follow the <b>link</b><br>
        in the email to reset your password.
    </div>
</center>

</body>