body {
    background-image: url(../images/background@2x.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 170%;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: white;
    font-size: large;
}

.Stats {
  width: 83px;
  height: 43px;
  font-family: Montserrat;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: -2.1px;
  text-align: left;
  margin-bottom: 10px;
  color: #ffffff;
}

.card_head_position{
  margin-left: 26px;
  margin-top: 15px
}

._categories {
  width: 175px;
  height: 32px;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -1.5px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 10px;
}

._stickers-Packs {
  width: 204px;
  height: 32px;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -1.5px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 10px;
}

._stickers {
  width: 133px;
  height: 32px;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -1.5px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 10px;
}

.loginCard {
  width: 300px !important;
  height: 400px !important;
  margin-right: 10px;
  border-radius: 15px;
  /*margin-left: 60px;*/
  margin-bottom: 15px;
  background-image: linear-gradient(to bottom, #d77255, #8651aa);
  box-shadow: -3px 3px 25px -1px rgba(0,0,0,0.6);
}

.icon_create_sticker{
  width: 58px;
  height: 58px;
  margin-bottom: 5px;
  /*margin: 35px 20px auto !important;*/
  object-fit: contain;
}

.icon_category {
  width: 48px;
  height: 49px;
  margin-bottom: 5px;
  object-fit: contain;
}

.GhanaTok {
  width: 135px;
  height: 32px;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -1.5px;
  text-align: left;
  color: #a46580;
}

.GhanaTok:hover{
    color: #402631;
}

.Recent-Packs {
  width: auto;
  height: 30px;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: -1.5px;
  text-align: left;
  margin-bottom: 20px;
  color: #3c3c3c;
}

.create_new {
  width: 160px;
  height: 25px;
  font-family: Montserrat;
  font-size: 20.8px;
  font-weight: 600;
  letter-spacing: -1.2px;
  text-align: left;
  margin-bottom: 59px;
  color: #c47462;
}

.createButton{
    width: 140px;
    height: 120px;
    margin-left:80px;
    margin-top: 42px;
    background-color: transparent;
}

.view_all {
  width: 76px;
  height: 25px;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: -1.2px;
  text-align: left;
  color: #5e5e5e;
}

.view_all:hover{
  color: #402631;
}

.recent_category {
  width: auto;
  height: 30px;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: -1.5px;
  text-align: left;
  color: #3c3c3c;
  margin-bottom: 20px;
}

.grid-container{
    max-width: 90rem;
    margin: 0 auto;
}

/*.shift{
  margin-left: 90rem !important;
  max-width: 0 !important
}*/

.Icons {
  width: 300px !important;
  height: 400px !important;
  margin-right: 10px;
  margin-bottom: 15px;
  border-radius: 15px;
  background-color: white;
  box-shadow: -3px 3px 25px -1px rgba(0,0,0,0.6);
}

.forgottenPass{
  margin-right: -38%;
  margin-top: -10px;
  float: right; 
}
.footer{
  margin-left: 0;
}

.opaqueDiv {
  background-image: url(../images/cards-background.png);
  background-repeat: repeat;
  width: 100% !important;
  height: 550px;
  opacity: 0.84;
  background-color: #ffffff;
}

.box{
    background: transparent;
    border-top:0;
    border-right: 0;
    border-left: 0;
    border-bottom: 3px white solid !important;
    border-color: black;
    border-width: 4px;
}

::-webkit-box-shadow{ 
   box-shadow:  -3px 3px 25px -1px rgba(0,0,0,0.6);
}

:-moz-box-shadow{
     box-shadow:-3px 3px 25px -1px rgba(0,0,0,0.6);
} 

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: white !important;
}

.Welcome-to-publisher {
  width: 100%;
  height: 52px;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: -2.5px;
  text-align: left;
  color: #919191;
  margin-bottom: 5%;
}

.logo2 {
  width: 300px;
  height: 80px;
  margin-top: 50px;
  margin-bottom: 35px
}

.header-top-spacing {
    /*margin-top: 50px;*/
}

.primary-color {
    color: #464B9C;
}

.secondary-color {
    color: #373C85;
}

.primary-background-color {
    background-color: #FFFFFF;
}

.background {
    width: 852px;
    height: 735px;
    object-fit: contain;
    opacity: 0.47;
}

.secondary-background-color {
    background-color: #fefefe;
}

.primary-font {
    font-family: 'Open Sans', sans-serif;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

.logo-text {
    color: #e02f1f;
    margin: 0;
    padding: 0;
    font-weight: 900;
}


/*.logo2 {
    width: 135px;
    height: 75px;
    object-fit: contain;
}*/

/*.Rectangle {
    width: 100%;
    height: 72px;
    background-color: rgba(245, 245, 245, 0.76);
}*/

.bar {
    width: 100%;
    height: 4px;
    background-image: linear-gradient(to right, #f08056, #e9675a 36%, #6d40ed 75%, #a95adf);
}

.margin-top-60 {
    margin-top: 60px;
}

/*input:not([type]), input[type=text], input[type=password], input[type=email],
input[type=url], input[type=time], input[type=date], input[type=datetime],
input[type=datetime-local], input[type=tel], input[type=number],
input[type=search], textarea.materialize-textarea {
    border-bottom: 2px solid white;
}*/

.uplink {
    font-weight: 800;
    font-size: 22px;
    transition: .5s;
    color: #e9675a;
    float: left;
}

.uplink_2{
    width: 245px;
    height: 24px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1.2px;
    text-align: left;
    color: #919191;
}

.uplink:hover {
    transition: .5s;
    color: #8651aa;
}

#signlink {
     font-weight: bold;
 }

#signlink:hover {
    text-decoration: underline;
}
#signoutLink {
    font-weight: bold;
    color: #e9675a;
    margin-left: 87%;
}

#signoutLink:hover {
    text-decoration: underline;
}

#signUpForm {
    background: #F9F9F9;
    color: black;
    height: 350px;
    padding: 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#username,
#password{
    width: 100%;
    background: ghostwhite;
    /*margin: 10;*/
    border: 1px solid darkgrey;
}

.signUpFormContainer {
    max-width: 400px;
    width: 100%;
    position: relative;
}

#btnLogin {
    cursor: pointer;
    width: relative;
    margin-top: -25px !important;
    background: transparent;
    float: right;
    color: #FFF;
    margin: 7px;
    padding: 10px;
    font-weight: 800;
    padding-bottom: 10px;
    font-size: 20px;
    transition: 0.5s;
    font-family: Montserrat;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: -2.1px;
    text-align: left;
    color: #ffffff;
}

.gbeja_notxt {
  width: 300px;
  height: 300px;
  display: block;
  margin: 50px auto !important;
  object-fit: contain;
}

#text {
    text-align: center;
}

#btnLogin:hover {
    color: #d98c8c;
    transition: 0.5s;
}

#signup {
    font-weight: bold;
    font-size: 20px;
}

fieldset {
    border: none;
}

#sticker {
    background-color: white;
    border: 2px solid black;
    height: 325px;
}

/*Container for stickers on dashboard*/

.block {
    height: 274px;
    width:  260px;
    background-color: white;
    margin: 10px auto;
    border: 2px solid black;
}

/*Div for displaying collection*/
.coll-block {
    height: 274px;
    width:  260px;
    /*background-color: white;*/
    margin: 10px auto;
    /*border: 2px solid black;*/
}

#folder-icon {
    height: 230px;
    width:  260px;
    opacity: 0.8;
    transition: 0.3s;
}

#folder-icon:hover {
    transform: scale(1.2, 1.2);
    opacity: 1;
    transition: 0.3s;
}


.coll-name {
    margin-top: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
    line-height: 1.4;
    text-align: center;
    color: #fefefe;
    background-color: black;
}

#objId {
    display: none;
}

#abi {
    height: 230px;
    width:  260px;
    opacity: 0.8;
    transition: 0.3s;
}

#abi:hover {
    transform: scale(1.2, 1.2);
    opacity: 1;
    transition: 0.3s;
}

.stickerName {
    margin-top: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
    line-height: 1.4;
    text-align: center;
    color: #fefefe;
    background-color: black;
}

.stickerName p {
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*Container for stickers on dashboard--------------END*/


/*STICKER DETAILS FORM*/
.detailsFormContainer {
    width: 50%;
    height: 200%;
    bottom: 20%;
    margin: 0 auto;
}

/*input::-webkit-input-placeholder {
    color: slategrey;
}*/

#detailsForm {
    height: 570px;
    width: 92%;
    background-color: #dddddd;
    padding: 15px;
    margin-bottom: 20%;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2), 0 0 5px 10px rgba(0, 0, 0, 0.24)
}

#detailsForm label{
    color: #ff3300;
    font-size: 120%;
    font-weight: bold;
}

#rightColumn {
    border: 2px solid darkslategrey;
    position: absolute;
    overflow: hidden;
    left: 52%;
    height: 300px;
    width: 18%;
}

#add-img {
    width: 100%;
    height: 100%;
}

#filename {
    color: darkslategray;
    margin-top: 307px;
    font-size: 20px;
    margin-left: 19px;
    font-family: monospace;
    position: absolute;
    width: 300px;
}
#filenam {
    color: darkslategray;
    margin-top: 350px;
    font-size: 20px;
    margin-left: 19px;
    font-family: monospace;
    position: absolute;
    display: none;
    width: 300px;
}

#leftColumn {
    position: absolute;
    overflow: hidden;
    left: 27%;
    height: 84%;
    width: 23%;
}

#btns {
    position: absolute;
    margin-top: 80px;
    font-family: serif;
}

#cancel {
    cursor: pointer;
    max-width: 40%;
    background: red;
    color: #FFF;
    margin-right: 105px;
    margin-top: 50px;
    padding: 10px;
    font-family: monospace;
    font-size: 130%;
    transition: 0.3s;
    position: relative;
}

#cancel:hover {
    background: white;
    color: red;
    transition: 0.3s;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.categoryOptions {
    position: absolute;
    width: 100%;
}

#arrow {
    font-size: medium;
    margin-right: 5%;
}

#btnChooseCategory {
    width: 85%;
    color: #ff3300;
    font-size: 100%;
    background-color: #661400;
    padding: 3%;
}

.categoriesList {
    font-size: 120%;
    background-color: #ff3300;
    color: white;
    width: 85%;
    display: none;
}

.categoryOption {
    margin-left: 10px;
}

#categoryInput {
    color: black;
}

#btnUpdateSticker {
    cursor: pointer;
    width: 25%;
    background: #ff5c33;
    color: #FFF;
    padding: 10px;
    font-family: monospace;
    font-size: 130%;
    transition: 0.3s;
    position: relative;
    left: 42%;
    top: 90%;
}

#btnUpdateSticker:hover {
    background: white;
    color: #ff5c33;
    transition: 0.3s;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
/*STICKER DETAILS FORM--------------END*/



/*NEW DRAG N DROP FORM ADD STICKERS*/
.droppableArea {
    background: #fefefe;
    color: black;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}
.droppableArea.dragover {
    background: #ff3300;
}
.droppableArea:hover {
    transition: 0.3s;
    background: #ff3300;
    cursor: pointer;
}

.output {
    width: 100%;
}
.output img {
    display: inline-block;
    vertical-align: middle;
    width: 91%;
    height: 95%;
}

#word {
    padding-top: 50px;
    color: black;
}
/*NEW DRAG N DROP FORM ADD STICKERS--------END*/


/*BUTTONS IN DETAILS PAGE*/
#editbtn {
    cursor: pointer;
    max-width: 40%;
    background: white;
    color: mediumpurple;
    margin-top: 315px;
    font-size: 20px;
    margin-left: 198px;
    font-family: monospace;
    position: absolute;
    width: 91px;
}

#editbtn:hover {
    background: mediumpurple;
    color: white;
    transition: 0.3s;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#delbtn {
    cursor: pointer;
    max-width: 40%;
    background: red;
    color: white;
    margin-top: 315px;
    font-size: 20px;
    margin-left: 6px;
    font-family: monospace;
    position: absolute;
    width: 91px;
}

#delbtn:hover {
    background: white;
    color: red;
    transition: 0.3s;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
/*BUTTONS IN DETAILS PAGE--------END*/



/*NEW DRAG AND DROP FORM*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.drop {
    width: 43%;
    border: 3px dashed grey;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    background: white;
    transition: all 0.5s;
    margin: 0 auto;
    position: relative;
    height: 400px;
    bottom: 110px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1), 0 7px 23px 0 rgba(0, 0, 0, 1);
}

.cont {
    height: 100px;
    color: red;
    transition: 0.5s;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.drop .cont i {
    font-size: 40%;
    color: #8E99A5;
    position: relative;
}
.drop .cont .tit {
    font-size: 200%;
    text-transform: uppercase;
}
.drop .cont .desc {
    color: red;
}

.drop input {
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#filesList {
    width: 95%;
    height: 95%;
    text-align: left;
    position: absolute;
    left: 15px;
    right: 14px;
    top: 10px;
}
#filesList .thumb {
    height: 95px;
    border: 1px solid #323a44;
    margin: 10px 5px 0 0;
}

#btnUploadSticker {
    cursor: pointer;
    max-width: 40%;
    background: #e02f1f;
    color: white;
    padding: 1%;
    font-family: monospace;
    font-size: 130%;
    transition: 0.3s;
    position: relative;
    margin-top: 285px;
    bottom: 333px;
    left: 55%;
}
#btnUploadSticker:hover {
    background: white;
    color: #e02f1f;
    transition: 0.3s;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#btnClearAddForm {
    cursor: pointer;
    max-width: 40%;
    background: #871c12;
    color: white;
    padding: 1%;
    font-family: monospace;
    font-size: 130%;
    transition: 0.3s;
    position: relative;
    bottom: 380px;
    left: 30%;
}

#btnClearAddForm:hover {
    background: white;
    color: #871c12;
    transition: 0.3s;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* END---------NEW DRAG AND DROP FORM*/

.drop {
    width: 43%;
    border-radius: 15px;
    /*display: none;*/
    background: white;
    overflow: hidden;
    text-align: center;
    transition: all 0.5s;
    margin: 0 auto;
    position: relative;
    height: 400px;
    bottom: 100px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1), 0 7px 23px 0 rgba(0, 0, 0, 1);
}

/*Create Collection Form*/
#collectionForm {
    background-color: white;
    color: black;
    width: 100%;
    margin: 0 auto;
}
#collectionForm label{
    color: red;
    font-size: 145%;
    font-weight: bold;
    margin-bottom: 50px;
}

tr #titles {
    background-color: #ca2a1c;
    color:white;
    text-align: center;
    font-size: 160%;
}

#collectionForm td {
    padding: 17px;
}
#collectionForm table {
    border-collapse: collapse;
    width: 100%;
}

#collectionForm #btnCancelCreateColl {
    padding: 10px;
    background-color: white;
    color: #ca2a1c;
    font-size: 130%;
    margin-left: 45%;
    border: 1px solid;
    border-radius: 10px;
    transition: 0.3s;
}
#collectionForm #btnCancelCreateColl:hover {
    background-color: #ca2a1c;
    color: white;
    transition: 0.3s;
}

#collectionForm #btnCreateCollection {
    padding: 10px;
    background-color: #e9675a;
    color: white;
    font-size: 130%;
    margin-left: 60px;
    border-radius: 10px;
    border: 1px solid;
    transition: 0.3s;
}
#collectionForm #btnCreateCollection:hover {
    background-color: #ca2a1c;
    transition: 0.3s;
}

#collectionName {
    margin-right: 93px;
    border: 1px solid lightgrey;
}

#closeSign {
    float:right;
    color: white;
}

#closeSign:hover {
    float:right;
    color:darkgrey;
    cursor: pointer;
}

#hiddenCreateForm {
    display: none;
    position: absolute;
    margin-left: 25%;
    z-index: 9999;
    top: 204px;
}

#pageMask {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
}

.addCategoryDiv {
    width: 20%;
    margin: 0 auto;
}

#btnAddCategory {
    color: white;
    background-color: #e34435;
    border: 1px solid;
    font-weight: bolder;
    font-size: 120%;
    transition: 0.3s;
    width: 100%;
    padding: 10px;
}
#btnAddCategory:hover {
    color: #e34435;
    background-color: white;
    border: 1px solid;
    transition: 0.3s;
}

.plus{
    margin-right: 3%;
}

/*CATEGORIES TABLE.....................*/
.contable {
    margin: 0 auto;
    width: 50%;
    padding-top: 3%;
}

#heading {
    background-color: #e34435;
    color:white;
    text-align: center;
    font-size: 150%;
}

#cattable,  #cattable td {
    border-collapse: collapse;
}

#cattable td, th {
    border: 2px solid #ca2a1c;
}

.editbtn1 {
    padding: 5px;
    background-color: #ff8566;
    border: 1px solid #ff8566;
    color: white;
    font-size: 110%;
    transition: 0.2s;
    margin-right: 10%;
    margin-left: 25%;
}
.editbtn1:hover {
    background-color: white;
    border: 1px solid #ff8566;
    color: #ff8566;
    transition: 0.2s;
}

.delbtn1 {
    padding: 5px;
    background-color: #991f00;
    border: 1px solid #991f00;
    color: white;
    transition: 0.2s;
    font-size: 110%;
}
.delbtn1:hover {
    background-color: white;
    border: 1px solid #991f00;
    color: #991f00;
    transition: 0.2s;
}

.mainrow {
    text-align: center;
    font-size: 130%;
}

#categoryname {
    font-size: 120%;
    cursor: auto;
    color: black;
    border-bottom-color: white;
}

#cattable td {
    background-color: lightgrey;
    color: darkslategrey;
}

/*EDIT CATEGORY form----------------------------------------*/
.hiddenEditForm {
    display: none;
    width: 60%;
    z-index: 9999;
    position: absolute;
    padding-top: 3%;
}

#editCategoryForm {
    margin-left: 50%;
}

#editTable {
    width: 100%;
}

#editHeading {
    background-color: #e62e00;
    font-size: 120%;
    color: white;
    text-align: center;
}

#editTable td {
    border-collapse: collapse;
    background-color: lightgrey;
}

#btnCancelEditCat {
    padding: 10px;
    background-color: #991f00;
    color: white;
    font-size: 80%;
    margin-left: 35%;
    transition: 0.2s;
}
#btnCancelEditCat:hover {
    background-color: white;
    color: #991f00;
    transition: 0.2s;
}

#btnSaveEditCat {
    padding: 10px;
    background-color: #e62e00;
    color: white;
    font-size: 80%;
    margin-left: 45%;
    transition: 0.2s;
}
#btnSaveEditCat:hover {
    background-color: white;
    color: #e62e00;
    transition: 0.2s;
}

#categoryName {
    font-weight: bold;
    font-size: 125%;
    color: #e62e00;
    font-family: Arial, serif;
    border: 1px solid
}
#categoryName:focus {
    background-color: white;
}

#label-c {
    font-weight: bolder;
    font-size: 130%;
    color: #e62e00;
    font-family: Arial, serif;
}



/*ADD CATEGORY form----------------------------------------*/
.hiddenAddCatForm {
    display: none;
    position: absolute;
    width: 60%;
    z-index: 2;
}

#addCategoryForm {
    margin-left: 50%;
}

#addtable {
    width: 100%;
}

#headingAdd {
    background-color: #ca2a1c;
    font-size: 120%;
    color: white;
    text-align: center;
}

#addtable td {
    border-collapse: collapse;
    background-color: lightgrey;
}

#btnCancelAddCat {
    padding: 10px;
    background-color: #991f00;
    color: white;
    font-size: 80%;
    margin-left: 35%;
    transition: 0.2s;
}
#btnCancelAddCat:hover {
    background-color: white;
    color: #991f00;
    transition: 0.2s;
}

#btnSaveAddCat {
    padding: 10px;
    background-color: #ff3300;
    color: white;
    font-size: 80%;
    margin-left: 45%;
    transition: 0.2s;
}
#btnSaveAddCat:hover {
    background-color: white;
    color: #ff3300;
    transition: 0.2s;
}

#label-cn {
    font-weight: bolder;
    font-size: 130%;
    color: red;
    font-family: Arial;
}

/*DELETE CATEGORY form----------------------------------------*/
.hiddenRemoveCategory {
    display: none;
    position: absolute;
    width: 60%;
    z-index: 2;
}

#deleteCategoryForm {
    margin-left: 50%;
}

#deleteTable {
    width: 100%;
}

#headingRemove {
    background-color: #e62e00;
    font-size: 120%;
    text-align: center;
    color: white;
}

#deleteTable td {
    border-collapse: collapse;
    background-color: lightgrey;
}

#btnCancelRemove {
    padding: 10px;
    background-color: #991f00;
    color: white;
    font-size: 80%;
    margin-left: 35%;
    transition: 0.2s;
}
#btnCancelRemove:hover {
    background-color: white;
    color: #991f00;
    transition: 0.2s;
}

#btnSaveRemove {
    padding: 10px;
    background-color: #e62e00;
    color: white;
    font-size: 80%;
    margin-left: 45%;
    transition: 0.2s;
}
#btnSaveRemove:hover {
    background-color: white;
    color: #e62e00;
    transition: 0.2s;
}

#catNameRemove {
    font-weight: bold;
    text-align: center;
    font-size: 170%;
    color: #e62e00;
    font-family: Arial;
}
