body {
    background-image: url(../images/imgHeader.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 70%;
    font-family: 'Open Sans', sans-serif;
    color: white !important;
}

a {
    color: white;
    font-size: large;
}


a:hover, a:visited, a:active {
    color: white !important;
}

.logo {
    width: 67px;
    height: 62px;
}

.header-top-spacing {
    margin-top: 50px;
}

.primary-color {
    color: #464B9C;
}

.secondary-color {
    color: #373C85;
}

.primary-background-color {
    background-color: #464B9C;
}

.secondary-background-color {
    background-color: #fefefe;
}

.third-background-color {
    background-color: #464B9C;
}

.primary-font {
    font-family: 'Open Sans', sans-serif;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

.logo-text {
    color: white;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

.beta-text {
    color: white;
    font-weight: 600;
}

.margin-top-60 {
    margin-top: 60px;
}

input:not([type]), input[type=text], input[type=password], input[type=email],
input[type=url], input[type=time], input[type=date], input[type=datetime],
input[type=datetime-local], input[type=tel], input[type=number],
input[type=search], textarea.materialize-textarea {
    border-bottom: 2px solid white;
}

.uplink {
    font-weight: 600;
    font-size: 18px;
    transition: 5s;
}
.uplink:hover {
    transition: 5s;
    text-decoration: underline;
}

#signlink {
     font-weight: bold;
 }

#signlink:hover {
    text-decoration: underline;
}
#signout {
    font-weight: bold;
}

#signout:hover {
    text-decoration: underline;
}

#contact {
    background: #F9F9F9;
    color: black;
    height: 350px;
    padding: 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#uname,
#pwd{
    width: 100%;
    background: ghostwhite;
    /*margin: 10;*/
    border: 1px solid darkgrey;
}

.container {
    max-width: 400px;
    width: 100%;
    margin-top: 40px;
    position: relative;
    background: whitesmoke;
}

#loginSubmit {
    cursor: pointer;
    width: 100%;
    background: #464B9C;
    color: #FFF;
    margin: 7px;
    padding: 10px;
    font-size: 20px;
    transition: 0.5s;
}

#sp {
    text-align: center;
}

#loginSubmit:hover {
    background: white;
    color: #464B9C;
    transition: 0.5s;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#signup {
    font-weight: bold;
    font-size: 20px;
}

fieldset {
    border: none;
}

#sticker {
    background-color: white;
    border: 2px solid black;
    height: 325px;
}

/*Container for stickers on dashboard*/

.block {
    height: 274px;
    width:  260px;
    background-color: white;
    margin: 10px auto;
    border: 2px solid black;
}

/*Div for displaying collection*/
.coll-block {
    height: 274px;
    width:  260px;
    /*background-color: white;*/
    margin: 10px auto;
    /*border: 2px solid black;*/
}

#folder-icon {
    height: 230px;
    width:  260px;
    opacity: 0.8;
    transition: 0.3s;
}

#folder-icon:hover {
    transform: scale(1.2, 1.2);
    opacity: 1;
    transition: 0.3s;
}


.coll-name {
    margin-top: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
    line-height: 1.4;
    text-align: center;
    color: #fefefe;
    background-color: black;
}

#objId {
    display: none;
}

#abi {
    height: 230px;
    width:  260px;
    opacity: 0.8;
    transition: 0.3s;
}

#abi:hover {
    transform: scale(1.2, 1.2);
    opacity: 1;
    transition: 0.3s;
}

.stickerName {
    margin-top: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
    line-height: 1.4;
    text-align: center;
    color: #fefefe;
    background-color: black;
}

.stickerName p {
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*Container for stickers on dashboard--------------END*/


/*ADD STICKER FORM*/
.container1 {
    width: 50%;
    height: 200%;
    margin: 0 auto;
}

input::-webkit-input-placeholder {
    color: slategrey;
}

#tform {
    height: 450px;
    margin: 0 auto;
    background-color: #dddddd;
    padding: 15px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2), 0 0 5px 10px rgba(0, 0, 0, 0.24)
}

#left-col {
    border: 2px solid darkslategrey;
    position: absolute;
    overflow: hidden;
    left: 26%;
    height: 300px;
}

#add-img {
    width: 100%;
    height: 100%;
}

#filename {
    color: darkslategray;
    margin-top: 307px;
    font-size: 20px;
    margin-left: 19px;
    font-family: monospace;
    position: absolute;
    width: 300px;
}
#filenam {
    color: darkslategray;
    margin-top: 350px;
    font-size: 20px;
    margin-left: 19px;
    font-family: monospace;
    position: absolute;
    display: none;
    width: 300px;
}

#right-col {
    position: absolute;
    overflow: hidden;
    left: 50%;
    width: 23%;
}

#btns {
    position: absolute;
    margin-top: 80px;
    font-family: serif;
}

#cancel {
    cursor: pointer;
    max-width: 40%;
    background: red;
    color: #FFF;
    margin-right: 105px;
    margin-top: 50px;
    padding: 10px;
    font-family: monospace;
    font-size: 130%;
    transition: 0.3s;
    position: relative;
}

#cancel:hover {
    background: white;
    color: red;
    transition: 0.3s;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#upload {
    cursor: pointer;
    max-width: 40%;
    background: #464B9C;
    color: #FFF;
    padding: 10px;
    font-family: monospace;;
    font-size: 130%;
    transition: 0.3s;
    position: relative;
}

#upload:hover {
    background: white;
    color: #464B9C;
    transition: 0.3s;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
/*ADD STICKER FORM--------------END*/



/*NEW DRAG N DROP FORM ADD STICKERS*/
.demo-droppable {
    background: #fefefe;
    color: black;
    text-align: center;
    width: 290px;
    height: 306px;
    transition: 0.3s;
}
.demo-droppable.dragover {
    background: mediumpurple;
}
.demo-droppable:hover {
    transition: 0.3s;
    background: mediumpurple;
    cursor: pointer;
}

.output {
    width: 100%;
}
.output img {
    display: inline-block;
    vertical-align: middle;
    width: 91%;
    height: 95%;
}

#word {
    padding-top: 50px;
    color: black;
}
/*NEW DRAG N DROP FORM ADD STICKERS--------END*/


/*BUTTONS IN DETAILS PAGE*/
#editbtn {
    cursor: pointer;
    max-width: 40%;
    background: white;
    color: mediumpurple;
    margin-top: 315px;
    font-size: 20px;
    margin-left: 198px;
    font-family: monospace;
    position: absolute;
    width: 91px;
}

#editbtn:hover {
    background: mediumpurple;
    color: white;
    transition: 0.3s;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#delbtn {
    cursor: pointer;
    max-width: 40%;
    background: red;
    color: white;
    margin-top: 315px;
    font-size: 20px;
    margin-left: 6px;
    font-family: monospace;
    position: absolute;
    width: 91px;
}

#delbtn:hover {
    background: white;
    color: red;
    transition: 0.3s;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
/*BUTTONS IN DETAILS PAGE--------END*/



/*NEW DRAG AND DROP FORM*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


#dropzone {
    border: 2px solid white;
}


.wrapper {
    width: 100%;
    height: 100%;
}

.drop {
    width: 43%;
    border: 3px dashed grey;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    background: white;
    transition: all 0.5s;
    margin: 0 auto;
    position: relative;
    height: 400px;
    bottom: 110px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1), 0 7px 23px 0 rgba(0, 0, 0, 1);
}

.cont {
    height: 100px;
    color: darkgray;
    transition: 0.5s;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.drop .cont i {
    font-size: 40%;
    color: #8E99A5;
    position: relative;
}
.drop .cont .tit {
    font-size: 200%;
    text-transform: uppercase;
}
.drop .cont .desc {
    color: #A4AEBB;
}

.drop input {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: red;
    opacity: 0;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#list {
    width: 95%;
    height: 95%;
    text-align: left;
    position: absolute;
    left: 15px;
    right: 14px;
    top: 10px;
}
#list .thumb {
    height: 95px;
    border: 1px solid #323a44;
    margin: 10px 5px 0 0;
}

#upload1 {
    cursor: pointer;
    max-width: 40%;
    background: white;
    color: #2f326a;
    padding: 1%;
    font-family: monospace;
    font-size: 130%;
    transition: 0.3s;
    position: relative;
    margin-top: 285px;
    bottom: 333px;
    left: 55%;
}
#upload1:hover {
    background: #8487c8;
    color: white;
    transition: 0.3s;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#clear {
    cursor: pointer;
    max-width: 40%;
    background: white;
    color: #202246;
    padding: 1%;
    font-family: monospace;
    font-size: 130%;
    transition: 0.3s;
    position: relative;
    bottom: 481px;
    left: 30%;
}

#clear:hover {
    background: #202246;
    color: white;
    transition: 0.3s;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* END---------NEW DRAG AND DROP FORM*/

.drop {
    width: 43%;
    border-radius: 15px;
    /*display: none;*/
    background: white;
    overflow: hidden;
    text-align: center;
    transition: all 0.5s;
    margin: 0 auto;
    position: relative;
    height: 400px;
    bottom: 100px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1), 0 7px 23px 0 rgba(0, 0, 0, 1);
}



/*clear*/

.containerx {
    position: relative;
    /*margin: 0 auto;*/
    text-align: center;
    margin-top: 100px;
}

.btn {
    padding: 10px 15px;
    background-color: blue;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

#okaybtn {
    padding: 5px;
    color: white;
    background-color: rebeccapurple;
    margin-top: 330px;
}


#stick-category {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    bottom: 852px;
    position: relative;
    border: 2px solid whitesmoke;
    background-color: white;
    z-index: 1000;
}

#title {
    text-transform: uppercase;
    color: #000;
    text-align: center;
}

.stickers {
    margin-top: 8%;
}

.rightside {
    border: 1px solid blue;
    position: absolute;
    overflow: hidden;
    left: 35%;
    width: 57%;
}
.leftside {
    border: 1px solid red;
    position: absolute;
    overflow: hidden;
    left: 4%;
    width: 25%;
}

#img-prev {
    width: 20px;
    height: 20px;
}
#fname {
    color: #000;
}

.cover {
    width: 100%;
    height: 240%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

#close{
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    left: 97%;
    bottom: 96%;
    position: absolute;
    color: red;
    float: right;
    cursor: pointer;
}

.tags-input {
    /*border: 1px solid #333;*/
    /*display: inline-block;*/
    line-height: 15px;
    left: 43%;
}

.tags-input .tag {
    font-size: 85%;
    color: black;
    padding: 0.5em 0.75em;
    margin: 0.25em 0.1em;
    display: inline-block;
    background-color: #ddd;
    transition: all 0.1s linear;
    cursor: pointer;
}

/*when you hover over tags*/
.tags-input .tag:hover {
    background-color: #3af;
    color: white;
}

.tags-input .tag .close::after {
    content: '×';
    font-weight: bold;
    display: inline-block;
    transform: scale(1.4);
    margin-left: 0.75em;
}

.tags-input .tag .close:hover::after {
    color: red;
}

.tags-input .main-input {
    border: 1px solid lightslategray;
    outline: 0;
    width: 98%;
    height: 30px;
}

/*Create Collection Form*/
#collection-form {
    background-color: white;
    color: black;
    width: 100%;
    margin: 0 auto;
}
label{
    color: #464B9C;
    font-size: 145%;
    font-weight: bold;
    margin-bottom: 50px;
}

tr #titles {
    background-color: #464B9C;
    color:white;
    text-align: center;
    font-size: 160%;
}

#collection-form td {
    padding: 17px;
}
#collection-form table {
    border-collapse: collapse;
    width: 100%;
}

#collection-form #cancell {
    padding: 10px;
    background-color: white;
    color: #2f326a;
    font-size: 130%;
    margin-left: 45%;
    border: 1px solid;
    border-radius: 10px;
    transition: 0.3s;
}
#collection-form #cancell:hover {
    background-color: #2f326a;
    color: white;
    transition: 0.3s;
}

#collection-form #createcoll {
    padding: 10px;
    background-color: #3f438d;
    color: white;
    font-size: 130%;
    margin-left: 60px;
    border-radius: 10px;
    border: 1px solid;
    transition: 0.3s;
}
#collection-form #createcoll:hover {
    background-color: #282a58;
    transition: 0.3s;
}

#coll_name {
    margin-right: 93px;
    border: 1px solid lightgrey;
}

#closeb {
    float:right;
    color: white;
}

#closeb:hover {
    float:right;
    color:darkgrey;
    cursor: pointer;
}

#hiddenform {
    display: none;
    position: absolute;
    margin-left: 30%;
    z-index: 9999;
}

#page-mask {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
}

#page-mask1 {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
}

