<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>1-Add Sticker</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
    </style>

    <link rel="stylesheet" href="/public/assets/css/foundation.min.css">
    <link rel="icon" href="favicon.ico"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/vendor/slick/slick.css"/>
    <link rel="stylesheet" href="/public/assets/css/custom.css">
    <!--parse js-->
    <script src="https://npmcdn.com/parse/dist/parse.js"></script>

</head>

<body class="third-background-color">
<!-- Logo -->
<div class="row header-top-spacing">

    <div class="columns large-12 small-12">

        <div class="row">

            <div class="columns large-1 small-12">
                <a href="https://cryptic-waters-41617.herokuapp.com">
                    <img class="logo" src="/public/assets/images/logo.png" alt="Cyfa Logo"/>
                </a>
            </div>

            <div class="columns large-8 small-12">
                <h3 class="logo-text primary-font">Stickers - Dashboard</h3>
                <h4 class="primary-font beta-text">Add Sticker</h4>
            </div>
            <a id="signout" onclick="logoutUser()">SIGN OUT</a>
            <p></p>
            <!--link to dashboard and stickers-->
            <%- include('../partials/links') %>
        </div>
    </div>
</div>

<div class="cover"></div>
<!-- Logo -->

<div class="row">
    <div class="columns large-12 hide-for-small-only margin-top-60"></div>
</div>

<div class="stick-category">
    <span id="close">&times;</span>
    <div class="stickers">
        <span id="title">set categories for each sticker</span>
        <div class="leftside">
            <span id="img-prev"></span>
            <p id="fname">file name</p>
        </div>
        <div class="rightside">
            <div class="tags-input" data-name="tags-input"></div>
        </div>

        </div>
</div>

<!--Drag n Drop Form-->
<form action="/uploads" enctype="multipart/form-data" method="post">
    <div class="wrapper">
        <div class="drop">
            <div class="cont">
                <i class="fa fa-cloud-upload"></i>
                <div class="tit">
                    Drag & Drop
                </div>
                <div class="desc">
                    your stickers here, or click to browse
                </div>
            </div>
            <output id="list"></output>
            <input id="files" multiple="true" name="im1[]" type="file"/>
        </div>
        <button id="cancel1" href="/dashboard">CANCEL</button>
        <button id="upload1" type="submit">UPLOAD STICKER(S)</button>
    </div>
</form>


<!-- Body -->

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="application/javascript"/>
<!-- Compiled and minified JavaScript -->
<!--<script src="http://code.jquery.com/jquery-1.6.3.min.js"></script>-->

<!-- Including the HTML5 Uploader plugin -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script type="text/javascript" src="/public/assets/js/custom.js"></script>
<script type="text/javascript" src="/public/assets/vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="/public/assets/js/dropzone.js"></script>
<script type="text/javascript" src="/public/assets/js/validate.js"></script>
<!--<script type="text/javascript" src="/public/assets/js/fileup.js"></script>-->
<script type="text/javascript" src="/public/assets/js/hope.js"></script>


</body>


</html>