<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>1-Add Sticker</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
    </style>

    <link rel="stylesheet" href="/public/assets/css/foundation.min.css">
    <!--<link rel="icon" href="favicon.ico"/>-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/vendor/slick/slick.css"/>
    <link rel="stylesheet" href="/public/assets/css/custom.css">
    <!--parse js-->
    <script src="https://npmcdn.com/parse/dist/parse.js"></script>
    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="ed8po9zwpj4pnhw"></script>
    <script type="text/javascript">

    function chooser(){
        options = {
    
    success: function(files) {
      files.forEach(function(file) {
        add_img_to_list(file);
      });
    },
    cancel: function() {
      //optional
    },
    linkType: "preview", // "preview" or "direct"
    multiselect: true, // true or false
    extensions: ['.png', '.jpg'],
    };

    var button = Dropbox.createChooseButton(options);
    document.getElementById("dropbox-container").appendChild(button);

    function add_img_to_list(file) {
      var a   = document.createElement('a');
      var span = document.createElement('span');
      var image_ = document.createElement('IMG');
      a.href = file.link;
      alert(file.link);
      var img = new Image();
      var src = file.thumbnailLink;
      src = src.replace("bounding_box=75", "bounding_box=256");
      src = src.replace("mode=fit", "mode=crop");
      img.src = src;
      img.className = "thumb";
      var image = document.getElementById("imageid");
      image.src = file.link;
      var base64 = getBase64Image(document.getElementById("imageid"));
      image.src = base64;

      convertImgToDataURLviaCanvas(img.src , function( base64_data ) {
    console.log( base64_data );
    } );
      document.getElementById("filesList").appendChild(span).appendChild(img);
    }

    function getBase64Image(img) {
      console.log("Image passed "+img);
      var canvas = document.createElement("canvas");
      canvas.width = img.width;
      canvas.height = img.height;
      var ctx = canvas.getContext("2d");
      ctx.drawImage(img, 0, 0);
      var dataURL = canvas.toDataURL();
      console.log("Data URL "+dataURL);
      var url_ = dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
      console.log("New URL "+url_);
      return url_;
    }
     
     var convertImgToDataURLviaCanvas = function(url, callback) {
  var img = new Image();

  img.crossOrigin = 'Anonymous';

  img.onload = function() {
    var canvas = document.createElement('CANVAS');
    var ctx = canvas.getContext('2d');
    var dataURL;
    canvas.height = this.height;
    canvas.width = this.width;
    ctx.drawImage(this, 0, 0);
    dataURL = canvas.toDataURL();
    // callback(dataURL);
    canvas = null;
  };

  img.src = url;
  callback(img.src);
}

    }
    </script>
</head>

<body class="primary-background-color" onload="chooser()">

<body class="primary-background-color">

<div class="Rectangle">
    <img src="/public/assets/images/logo2.png"
         srcset="/public/assets/images/logo@2x.png 2x,/public/assets/images//logo@3x.png 3x" class="logo2">
</div>

<img src="/public/assets/images/bar.png" srcset="img/bar@2x.png 2x,img/bar@3x.png 3x" class="bar">

<!-- Logo -->
<div class="row header-top-spacing">

    <div class="columns large-12 small-12">

        <div class="row">
 
            <div class="columns large-8 small-12">
                <h3 class="logo-text primary-font">Stickers - Dashboard</h3>
                <h4 class="primary-font beta-text">Add Sticker</h4>
            </div>
            <a id="signoutLink" onclick="logoutUser()">SIGN OUT</a>
            <p></p>
            <!--link to dashboard and stickers-->
            <%- include('../partials/links') %>
        </div>
    </div>
</div>
<!-- Logo -->

<div class="row">
    <div class="columns large-12 hide-for-small-only margin-top-60"></div>
</div>

<!--Drag n Drop Form-->
 <div id="dropbox-container"></div>
 <img id=imageid>

<form id="addStickersForm" action="/uploads" enctype="multipart/form-data" method="post">
    <div class="wrapper">
        <div class="drop">
            <div class="cont">
                <i class="fa fa-cloud-upload"></i>
                <div class="tit">
                    Drag & Drop
                </div>
                <div class="desc">
                    your stickers here, or click to browse
                </div>
            </div>
            <output id="filesList"></output>
            <input id="files" multiple="true" name="im1[]" type="file"/>
        </div>
    </div>
    <button id="btnUploadSticker" type="submit">UPLOAD STICKER(S)</button>
    <input type="hidden" name="coll_id" style="display: none" value="<%= id %>">
</form>
<button id="btnClearAddForm">CLEAR</button>

<div id="pageMask"></div>
<!--<div class="cover"></div>-->
<!-- Body -->

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="application/javascript"/>
<!-- Compiled and minified JavaScript -->
<!--<script src="http://code.jquery.com/jquery-1.6.3.min.js"></script>-->

<!-- Including the HTML5 Uploader plugin -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script type="text/javascript" src="/public/assets/js/custom.js"></script>
<script type="text/javascript" src="/public/assets/vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="/public/assets/js/dropzone.js"></script>
<script type="text/javascript" src="/public/assets/js/validate.js"></script>
<!--<script type="text/javascript" src="/public/assets/js/fileup.js"></script>-->
<script type="text/javascript" src="/public/assets/js/dragndrop.js"></script>


</body>


</html>