<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>

    <!--Logo-->
    <link rel="shortcut icon" type="image/x-icon" href="/public/images/favicon.ico"/>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800,900');
    </style>

    <link rel="stylesheet" href="/public/assets/css/foundation.min.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/vendor/slick/slick.css"/>
    <link rel="stylesheet" href="/public/assets/css/custom.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <!--parse js-->
    <script src="https://npmcdn.com/parse/dist/parse.js"></script>

</head>
<body class="primary-background-color">

</body>