<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Stickers - G-Stickers</title>

    <% include ../partials/fav.ejs %>

    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat');
    </style>
    <link rel="stylesheet" href="/public/assets/css/foundation.min.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/vendor/slick/slick.css"/>
    <link rel="stylesheet" href="/public/assets/css/custom.css">
    <!--parse js-->
    <script src="https://npmcdn.com/parse/dist/parse.js"></script>

</head>

<body class="primary-background-color">

<div class="grid-container">
    <!-- Logo-->
    <div class="medium-12 large-12">
        <a href="/home">
            <img src="/public/assets/images/G_logo.png"
                 srcset="/public/assets/images/G_logo@2x.png 2x,/public/assets/images/G_logo@3x.png 3x" class="logo">
        </a>
        <a id="signoutLink" onclick="logoutUser()">LOGOUT</a>
    </div>
    <!-- End of Logo-->
    <span class="medium-12 large-12 welcome_post"><b><%= coll_name %> Sticker Pack</b></span>

    <!--Drag n Drop Form-->
    <br>
    <div class="grid-x grid-margin-x">
        <div class="medium-12 large-12 cell">
            <!-- Form to add stickers from computer-->
            <form action="/uploads" enctype="multipart/form-data" method="post">
                <div class="wrapper">
                    <div class="drop">
                        <div class="cont">
                            <i class="fa fa-cloud-upload"></i>
                            <div class="tit">
                                Drag & Drop
                            </div>
                            <div class="desc">
                                your stickers here, or click to browse
                            </div>
                        </div>

                        <output id="filesList"></output>
                        <input id="files" multiple="true" name="im1[]" type="file"/>

                    </div>
                    <center>
        <span>
        <button type="button" class="clear" id="btnClearAddForm"><a href="/pack/<%= id %>" class="clear">Cancel</a></button>
      </span><span>
        <button type="button" class="clear" id="clearBtn">Clear</button>
      </span>
                        <span>
        <button type="submit" class="upload">Upload</button>
        </span>
                    </center>
                </div>
                <input type="hidden" name="pack_id" style="display: none" value="<%= id %>"/>
            </form>
            <!-- End of form-->
            <%- include('../partials/footer') %>
        </div>
    </div>
</div>
</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="application/javascript"></script>
<script src="https://npmcdn.com/parse/dist/parse.js"></script>
<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs"
        data-app-key="ed8po9zwpj4pnhw"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script type="text/javascript" src="/public/assets/js/custom.js"></script>
<script type="text/javascript" src="/public/assets/js/dropzone.js"></script>
<script type="text/javascript" src="/public/assets/js/validate.js"></script>
<script type="text/javascript" src="/public/assets/js/dragndrop.js"></script>
</html>