<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Logo-->
    <link rel="icon"  href="/public/images/logo.png" />

    <!--TODO add collection name to title-->
    <title>Select Categories</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
    </style>
    <link rel="stylesheet" href="/public/assets/css/foundation.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/vendor/slick/slick.css"/>
    <link rel="stylesheet" href="/public/assets/css/custom.css">
    <!--parse js-->
    <script src="https://npmcdn.com/parse/dist/parse.js"></script>

</head>

<body class="primary-background-color">

<div class="Rectangle">
    <img src="/public/assets/images/logo2.png"
         srcset="/public/assets/images/logo@2x.png 2x,/public/assets/images//logo@3x.png 3x" class="logo2">
</div>

<img src="/public/assets/images/bar.png" srcset="img/bar@2x.png 2x,img/bar@3x.png 3x" class="bar">

<!-- Logo -->
<div class="row header-top-spacing">
    <div class="columns large-12 small-12">
        <div class="row">

            <div class="columns large-8 small-12">
                <h3 class="logo-text primary-font">Categories for Stickers </h3>
            </div>
            <a id="signoutLink" onclick="logoutUser()">SIGN OUT</a>
            <p></p>
            <!--link to other pages-->
            <%- include('../partials/links') %>
        </div>
    </div>
</div>
<!-- Logo -->

<div class="addCategoryDiv">
<button id="btnAddCategory"><img class="plus" src="/public/assets/images/pluswhite.png"> ADD A NEW CATEGORY</button>
</div>

<div class="hiddenEditForm">
    <form id="editCategoryForm" action="/update-category" method="post">
        <table id="editTable">
            <tr>
                <th  colspan="2" id="editHeading">
                    EDIT CATEGORY
                </th>
            </tr>
            <tr>
                <td id="label-c">Rename category: </td>
                <td>
                    <input type="text" name="catname" id="categoryName" autofocus onfocus="this.value = this.value;" />
                    <input type="hidden" name="currentName" id="currentName">
                </td>
            </tr>
            <tr>
                <td>
                    <button id="btnCancelEditCat" type="button">CANCEL</button>
                </td>
                <td>
                    <button id="btnSaveEditCat" type="submit">SAVE</button>
                </td>
            </tr>

        </table>
    </form>
</div>

<!--add category form-->
<div class="hiddenAddCatForm">
    <form id="addCategoryForm" action="/new-category" method="post">
        <table id="addtable">
            <tr>
                <th  colspan="2" id="headingAdd">
                    ADD NEW CATEGORY
                </th>
            </tr>
            <tr>
                <td id="label-cn">Type Category Name: </td>
                <td><input type="text" name="catname" id="categoryName" /></td>
            </tr>
            <tr>
                <td>
                    <button id="btnCancelAddCat" type="button">CANCEL</button>
                </td>
                <td>
                    <button id="btnSaveAddCat" type="submit">SAVE</button>
                </td>
            </tr>

        </table>
    </form>
</div>

<!--remove category form-->
<div class="hiddenRemoveCategory">
    <form id="deleteCategoryForm" action="/remove-category" method="post">
        <table id="deleteTable">
            <tr>
                <th  colspan="2" id="headingRemove">
                    REMOVE THIS CATEGORY??
                </th>
            </tr>
            <tr>
                <td colspan="2"><input type="text" name="catnameD" id="catNameRemove" /></td>
                <input type="hidden" name="currentNameD" id="currentNameRemove">
            </tr>
            <tr>
                <td>
                    <button id="btnCancelRemove" type="button">FORGET IT</button>
                </td>
                <td>
                    <button id="btnSaveRemove" type="submit">YES, REMOVE</button>
                </td>
            </tr>

        </table>
    </form>
</div>

<%- include ../partials/category-table %>


<div id="pageMask"></div>
<!-- Body -->

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="application/javascript"/>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script type="text/javascript" src="/public/assets/vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="/public/assets/js/custom.js"></script>
<script type="text/javascript" src="/public/assets/js/validate.js"></script>

</body>


</html>