<div class="row small-up-1 medium-up-3 large-up-4">
    <% stickers.forEach(function(item, index) { %>

    <div class="column">
        <a href="/collection/<%= item.id %>">
            <div class="block">
                <p class="stickerName">  <%= item.get("stickerName") %></p>
            </div>
        </a>
    </div>

    <% }); %>
</div>