<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sticker Details - Cyfa</title>

    <link rel="shortcut icon" type="image/x-icon" href="/public/assets/images/favicon.ico"/>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800,900');
    </style>

    <link rel="stylesheet" href="/public/assets/css/foundation.min.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/vendor/slick/slick.css"/>
    <link rel="stylesheet" href="/public/assets/css/custom.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <!--parse js-->
    <script src="https://npmcdn.com/parse/dist/parse.js"></script>

</head>

<body class="primary-background-color">
<div class="grid-container">
    <!-- Logo -->
    <div class="medium-12 large-12">
        <a href="/home">
            <img src="/public/assets/images/G_logo.png"
                 srcset="/public/assets/images/G_logo@2x.png 2x,/public/assets/images/G_logo@3x.png 3x" class="logo"
                 id="logo">
        </a>
        <a id="signoutLink" onclick="logoutUser()">LOGOUT</a>

    </div>
    <div id="pageMask"></div>
    <div id="addCategoryForm">
        <div class="medium-3 large-3 cell create_background">
            <form id="pack_form" action="/new_collection" method="post">
                <center>
                    <div class="edit_labels medium-12 large-12"><b>SELECT CATEGORY</b></div>

                    <div class="categoriesList">
                        <% categories.forEach(function(item) { %>
                        <input type="checkbox" class="categoryOption" name="cat1[]" data-name="<%=item.get('name')%>" value="<%= item.id%>"> &nbsp;<%= item.get("name")%>
                        <% }); %>
                       </div>
                    <br>
                </center>
                <div style="text-align: center;">
                <span>
        <button type="button" id="btnCategoryCancel" class="cancel">Cancel</button>
         </span>
                <span>
        <button type="submit" class="create">ADD</button>
        </span>
                </div>
            </form>
        </div>
    </div>
    <!--End of logo-->
    <% include ../partials/sticker_details %>

</div>
</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="application/javascript"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script type="text/javascript" src="/public/assets/vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="/public/assets/js/custom.js"></script>
<script type="text/javascript" src="/public/assets/js/fileup.js"></script>
<script type="text/javascript" src="/public/assets/js/validate.js"></script>
</html>