<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign Up - Cyfa</title>

    <!--Logo-->
    <link rel="shortcut icon" type="image/x-icon" href="/public/images/favicon.ico"/>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
    </style>

    <link rel="stylesheet" href="/public/assets/css/foundation.min.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/vendor/slick/slick.css"/>
    <link rel="stylesheet" href="/public/assets/css/custom.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <!--parse js-->
    <script src="https://npmcdn.com/parse/dist/parse.js"></script>

</head>

<body class="primary-background-color">

<div class="grid-x grid-margin-x">
    <div class="medium-12 large-12">
        <img src="/public/assets/images/G_logo.png"
         srcset="/public/assets/images/G_logo@2x.png 2x,/public/assets/images/G_logo@3x.png 3x" class="logo2">
    </div>
</div>

<% if (locals.error) { %>
<h6 class="subheader text-center">
    <%= locals.error %>
</h6>
<% } %>

<!-- Body -->
<div class="loginDiv">
    
    <div class="row shift">
    <div class="grid-x grid-margin-x">
    <div class="Welcome-to-publisher shift medium-12 large-12"><b>Welcome to Publisher</b></div>
      <div class="medium-3 large-3 cell loginCard">
        
         <form action="/login" method="post">
            <fieldset>
                <input class="box" placeholder="Name" type="text" tabindex="1" name="username"><br>
                <input class="box" placeholder="Email" type="email" tabindex="1" name="email"><br>
                <input class="box" placeholder="Password" type="password" name="password" tabindex="2"><br>
                <button name="login" type="submit" id="btnLogin" data-submit="...Sending">Login</button>
                <br><br>
                <a href="/forgetPassword" style="float: right; margin-right: -22%">Forgot password?</a>
            </fieldset>
        </form>
     
      </div>
      <div class="medium-3 large-3 cell Icons">
        <img src="/public/assets/images/gbeja-notxt.png" srcset="/public/assets/images/gbeja-notxt@2x.jpg 2x,
             img/gbeja-notxt@3x.jpg 3x" class="gbeja_notxt">
      </div>
      <div class="medium-3 large-3 cell Icons">
      <center>
        <img src="/public/assets/images/gbeja-notxt.png" srcset="/public/assets/images/gbeja-notxt@2x.jpg 2x,
             img/gbeja-notxt@3x.jpg 3x" class="gbeja_notxt">
             </center>
      </div>
      <div class="medium-3 large-3 cell Icons">
        <img src="/public/assets/images/gbeja-notxt.png" srcset="/public/assets/images/gbeja-notxt@2x.jpg 2x,
             img/gbeja-notxt@3x.jpg 3x" class="gbeja_notxt">
      </div>
    </div>
        
            
        </div>
    </div>
<!-- Body -->

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="application/javascript"/>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script type="text/javascript" src="/public/assets/vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="/public/assets/js/custom.js">
</script>

</body>


</html>