<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Packs - G-Stickers</title>

    <% include ../partials/fav.ejs %>

    <link rel="stylesheet" href="/public/assets/css/foundation.min.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/vendor/slick/slick.css"/>
    <link rel="stylesheet" href="/public/assets/css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--parse js-->
    <script src="https://npmcdn.com/parse/dist/parse.js"></script>
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

</head>

<body class="primary-background-color">

<div class="grid-container">
    <!-- Logo -->
    <div class="medium-12 large-12">
        <a href="/home">
            <img src="/public/assets/images/G_logo.png"
                 srcset="/public/assets/images/G_logo@2x.png 2x,/public/assets/images/G_logo@3x.png 3x" class="logo"
                 id="logo">
        </a>
        <a id="signoutLink" onclick="logoutUser()">LOGOUT</a>

    </div>
    <!-- End of logo-->
    <div id="pageMask"></div>

    <!-- Hidden form for creating new packs-->
    <!-- End of form-->
    <span class="medium-12 large-12 welcome_post" id="all_stories"><b>All Contacts</b></span>

    <div class="grid-x grid-margin-x" id="opaqueDiv">
        <div class="medium-3 large-3 cell login_card">
            <div class="card_head_position">
                <div class="stats">Menu</div>
                <div><a class="_stickers" href="/home">Home</a></div>
                <div><a class="_categories" href="/pack_collection">Packs</a></div>
                <div><a class="_stickers_packs" href="/review_collection">Reviews</a></div>
                <div><a class="_stickers_packs" href="/story_collection">Stories</a></div>
            </div>
        </div>

        <div class="medium-3 large-3 cell icons">
            <div class="create_new">Filter
                <i class="fa fa-circle" id="circle" style="color: black;float: right;font-size: 15px;" aria-hidden="true"></i>
            </div>
                <button id="read" class="create_button">
                    <p class="title">&nbsp; <i class="fa fa-circle" style="color: #c3bfb7" aria-hidden="true"></i> &nbsp;READ</p>
                </button>
                <button id="unread" class="create_button">
                    <p class="title">&nbsp; <i class="fa fa-circle" style="color: #0D47A1" aria-hidden="true"></i> &nbsp;UNREAD</p>
                </button>
                <button id="show_all" class="create_button">
                    <p class="title">&nbsp; <i class="fa fa-circle-o" style="color: black"  aria-hidden="true"></i> &nbsp;SHOW ALL</p>
                </button>
        </div>

        <% include ../partials/messages %>
        <%- include('../partials/footer') %>
    </div>
</div>

<!-- Body -->

<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="application/javascript"/>-->
<!-- Compiled and minified JavaScript -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>-->
<script type="text/javascript" src="/public/assets/vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="/public/assets/js/custom.js"></script>
<script type="text/javascript" src="/public/assets/js/validate.js"></script>

</body>


</html>