<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="../../public/assets/css/newsletter.css">
  <link rel="stylesheet" href="../../public/assets/css/newsletter.foundation.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Story Preview Template</title>
</head>

<body>
  <div class="grid-container lightPinkBg">

    <!-- Header -->
    <div id="bannerImg" style=" background-image: linear-gradient(to bottom, <%= colors[0] %>, <%= colors[1] %>);">
      <div id="bannerPattern">
        <div class="small-12">
          <img src="<%= sticker.get("uri").url() %>" alt="Banner">
          <h1>I Burnt his Jollof</h1>
        </div>
      </div>
    </div>
    <!-- Header -->

    <div class="grid-container grid-x">

      <!-- Content-Section-One -->
      <div class="small-12 grid-x">
        <div class="medium-1 hide-for-small"></div>
        <div class="medium-10 small-12">
          <div class="content-section padding-top gray-text">
            <p>
              So, yesterday, someone actually called me fat. Yes, a whole me, FAT!
            </p>

            <p>
              <strong>Hmm…</strong>
            </p>

            <p>
              I am coming. Let me gather myself because the way my heart is beating,
              I will say something and it will become something that is there.
              So you, it’s okay.
            </p>
          </div>
        </div>
        <div class="medium-1 hide-for-small"></div>
      </div>
      <!-- End of Content-Section-One -->

      <!-- Divider -->
      <div class="small-12 grid-x">
        <div class="small-1"></div>
        <div class="small-10">
          <div class="divider purple-text"></div>
        </div>
        <div class="small-1"></div>
      </div>
      <!-- End of Divider -->

      <!-- Quote -->
      <div class="small-12 grid-x">
        <div class="small-1"></div>
        <div class="quote-area small-10 grid-x">
          <div class="quote-area-begin small-1">
            <img src="../../newsletter/images/quote-begin.png" alt="Begin Quote">
          </div>
          <div class="quote-area-content purple-text semi-bold small-10">
            <p>
              That was when he called me… he called me… hmm. He called me…
              This thing is difficult to say. The guy called me… OBOLO.
            </p>
          </div>
          <div class="quote-area-end small-1">
            <img src="../../newsletter/images/quote-end.png" alt="End Quote">
          </div>
        </div>
        <div class="small-1"></div>
      </div>
      <!-- End of Quote -->

      <!-- Content-Section-Two -->
      <div class="small-12 grid-x">
        <div class="medium-1 hide-for-small"></div>
        <div class="medium-10 small-12">
          <div class="content-section padding-top gray-text">
            <p>
              I know I am chubby small. I have some flesh covering my cheekbones
              and that is really no fault of mine. My father is Ga and my mother
              is Fante. So if you combine these two genes, the resultant genotype
              should look something like FF which is very fat. I don’t just mean
              very fat, I mean very very fat. In fact let me add one more very.
              Very very very fat like those Chinese fat people that look like one
              very large ball of fufu. But look at me, does it look like I am
              that fat?
            </p>

            <p>
              That doesn’t mean I am sitting down for my genes to fully express
              themselves. No way! That is why I hit the gym every morning except
              for Sunday’s 'cos even
            </p>

            <br/>

            <p>
              God rested on the seventh day?
            </p>
          </div>
        </div>
        <div class="medium-1 hide-for-small"></div>
      </div>
      <!-- End of Content-Section-Two -->

      <!-- Share & Download -->
      <div class="small-12 grid-x">
        <div class="medium-3 small-2"></div>
        <div class="medium-6 small-8 grid-x">
          <!-- Share-Text -->
          <div class="small-12 semi-bold purple-text text-center">
            <h3 id="share-story">Share Story</h3>
          </div>

          <!-- Share-Icons -->
          <div class="small-12 grid-x show-for-small-only">
            <div class="small-2">
              <i class="fa fa-facebook" style="font-size:25px;color:#3b5998;"></i>
            </div>
            <div class="small-2">
              <i class="fa fa-twitter" style="font-size:25px;color:#1DA1F2;"></i>
            </div>
            <div class="small-2">
              <i class="fa fa-google-plus" style="font-size:25px;color:#DB4437;"></i>
            </div>
            <div class="small-2">
              <i class="fa fa-pinterest" style="font-size:25px;color:#BD081C;"></i>
            </div>
            <div class="small-2">
              <i class="fa fa-instagram" style="font-size:25px;color:#262626;"></i>
            </div>
            <div class="small-2">
              <i class="fa fa-tumblr" style="font-size:25px;color:#0077B5;"></i>
            </div>
          </div>

          <!-- Share-Icons for large -->
          <div class="small-12 grid-x show-for-large-only">
            <div class="small-2">
              <i class="fa fa-facebook" style="font-size:45px;color:#3b5998;"></i>
            </div>
            <div class="small-2">
              <i class="fa fa-twitter" style="font-size:45px;color:#1DA1F2;"></i>
            </div>
            <div class="small-2">
              <i class="fa fa-google-plus" style="font-size:45px;color:#DB4437;"></i>
            </div>
            <div class="small-2">
              <i class="fa fa-pinterest" style="font-size:45px;color:#BD081C;"></i>
            </div>
            <div class="small-2">
              <i class="fa fa-instagram" style="font-size:45px;color:#262626;"></i>
            </div>
            <div class="small-2">
              <i class="fa fa-tumblr" style="font-size:45px;color:#0077B5;"></i>
            </div>
          </div>

          <!-- Download-Text -->
          <div id="download-text" class="small-12 padding-top">
            <h5>
              Download GhanaTok to get the "<span class="purple-text">Sad Face</span>" Sticker now
            </h5>
          </div>

          <!-- Download Image -->
          <div class="small-12 grid-x">
            <div class="small-1 medium-2"></div>
            <div id="download-img" class="small-10 medium-8">
              <img src="../../newsletter/images/banner.png" alt="Banner">
            </div>
            <div class="small-1 medium-2"></div>

          </div>

          <!-- Download-Badges -->
          <div class="small-12 grid-x text-center padding-top">
            <div class="medium-6 small-12">
              <img class="download-badge" src="../../newsletter/images/badge-app-store.png" alt="Apple Store">
            </div>
            <div class="medium-6 small-12">
              <img class="download-badge" src="../../newsletter/images/badge-google-play.png" alt="Google Play">
            </div>
          </div>

          <!-- End of Share-Text -->
        </div>
        <div class="medium-3 small-2"></div>
      </div>
      <!-- End of Share & Download -->

    </div>
  </div>

  <div id="newsletter" class="padding-top">
    <div class="deepPinkBg grid-container">
      <div class="grid-container grid-x align-middle">
        <div class="medium-6 small-12">
          <h1>Latest Stories</h1>
          <h3>
            Sign up to our newsletter to get the latest stories
          </h3>
          <p>Your Information will never be shared with any third party</p>
        </div>
        <div class="medium-6 small-12">

          <label><h2>Please enter your email</h2>
            <input type="text" placeholder="Your Email">
          </label>

          <input id="submit-btn" type="submit" class="button" value="Submit">

          <!-- <label for="exampleFileUpload" class="button">Submit</label>
          <input type="submit" id="exampleFileUpload" class="show-for-sr"> -->
        </div>
      </div>
    </div>
  </div>

  <div class="padding-top"></div>

  <div id="newsletter-thank-you" class="padding-top">
    <div class="deepPinkBg grid-container">
      <div class="grid-container grid-x align-middle">
        <div class="small-1"></div>
        <div class="small-10 grid-x">
          <div class="large-4 large-offset-4 small-6 small-offset-3 grid-x text-center align-center">
            <div class="cell small-4">
              <h1 style="font-family: 'Montserrat'; letter-spacing: -2px; font-weight: 800; color: #646464; padding-top: 13%; margin-left: -40%;">Thank</h1>
            </div>
            <div class="small-4">
              <img style="width: 100%;" src='../../newsletter/images/thank-you.png' alt="Thank You"/>
            </div>
            <div class="small-4">
              <h1 style="font-family: 'Montserrat'; letter-spacing: -2px; font-weight: 800; color: #646464; padding-top: 13%; margin-left: -3%;">YOU!</h1>
            </div>
          </div>
          <div class="large-4 large-offset-4 small-6 small-offset-3">
            <input id="continue-btn" type="submit" class="button" value="Continue">
          </div>
        </div>
        <div class="small-1"></div>
      </div>
    </div>
  </div>

</body>
</html>
