<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign Up - Cyfa</title>

    <!--Logo-->
    <link rel="shortcut icon" type="image/x-icon" href="/public/images/favicon.ico"/>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800,900');
    </style>

    <link rel="stylesheet" href="/public/assets/css/foundation.min.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/vendor/slick/slick.css"/>
    <link rel="stylesheet" href="/public/assets/css/custom.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <!--parse js-->
    <script src="https://npmcdn.com/parse/dist/parse.js"></script>

</head>

<body class="primary-background-color">

<div class="grid-container">
<!-- Logo -->
<div class="medium-12 large-12">
        <img src="/public/assets/images/G_logo.png"
         srcset="/public/assets/images/G_logo@2x.png 2x,/public/assets/images/G_logo@3x.png 3x" class="logo2">
    </div>
<!-- <div class="small-12 large-12">
        <a class="uplink" id="showCreateForm">  Create New Collection</a>
 </div> -->
<div id="hiddenCreateForm">
  <!-- <div id="create_back_background"> -->
  <div class="medium-3 large-3 cell create_back_background">
    <form id="pack_form" action="/new-collection" method="post">
       <center> 
        <div class="create_New_Pack medium-12 large-12">CREATE NEW PACK </div> 
                  
          <input type="text" class="_pack" placeholder="Pack name" name="coll_name"><br>
          <input type="text" class="_pack" placeholder="Pack description" name="coll_description"><br>
         </center> 
        <span>
        <button type="button" id="btnCancel" class="cancel">Cancel</button>
         </span>
         <span>
        <button type="submit" class="create">CREATE</button>
        </span>
    </form>
    </div>
</div>
<div class="grid-x grid-margin-x opaqueDiv">
<div class="medium-3 large-3 cell Icons" id="showCreateForm">
    <img class="Icon_create_sticker_pack" src="/public/assets/images/icon-create-sticker-pack.png">
    <div class="create_new_pack">CREATE NEW PACK</div>
</div>
<% include ../partials/packs %>
</div>
</div>

<!-- Body -->

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="application/javascript"/>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script type="text/javascript" src="/public/assets/vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="/public/assets/js/custom.js"></script>
<script type="text/javascript" src="/public/assets/js/validate.js"></script>

</body>


</html>