<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Category Details - Cyfa</title>

    <link rel="shortcut icon" type="image/x-icon" href="/public/assets/images/favicon.ico"/>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800,900');
    </style>

    <link rel="stylesheet" href="/public/assets/css/foundation.min.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/vendor/slick/slick.css"/>
    <link rel="stylesheet" href="/public/assets/css/custom.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <!--parse js-->
    <script src="https://npmcdn.com/parse/dist/parse.js"></script>

</head>

<body class="primary-background-color">
<div class="grid-container">
    <!-- Logo -->
    <div class="medium-12 large-12">
        <a href="/home">
            <img src="/public/assets/images/G_logo.png"
                 srcset="/public/assets/images/G_logo@2x.png 2x,/public/assets/images/G_logo@3x.png 3x" class="logo"
                 id="logo">
        </a>
        <a id="signoutLink" onclick="logoutUser()">LOGOUT</a>

    </div>
    <!-- End of logo -->
    <div id="pageMask"></div>

    <!-- Hidden form for editing category-->
    <div id="hiddenEditForm" style="display: none">
        <div class="medium-3 large-3 cell create_background">
            <form id="pack_form" action="/update_category" method="post">
                <center>
                    <div class="edit_labels medium-12 large-12">EDIT CATEGORY</div>
                    Rename category:<input type="text" name="catname" class="_pack common_pack_detail" id="categoryName"
                                           autofocus onfocus="this.value = this.value;"/>
                    <input type="hidden" name="categoryId" id="categoryId"/>
                    <br>
                </center>
                <span>
        <button type="button" id="btnCancelEditCat" class="cancel">Cancel</button>
         </span>
                <span>
        <button type="submit" class="create">Edit</button>
        </span>
            </form>
        </div>
    </div>
    <!-- End of form-->

    <!-- Hidden form for removing category-->
    <div id="hiddenRemoveCategory" style="display: none;">
        <div class="medium-3 large-3 cell create_background">
            <form id="pack_form" action="/remove_category" method="post">
                <center>
                    <div class="edit_labels medium-12 large-12">REMOVE CATEGORY</div>
                    <input type="text" class="_pack common_pack_detail" name="catnameD" id="catNameRemove"/>
                    <input type="hidden" name="inputRemoveId" id="inputRemoveId">
                    <br>
                </center>
                <span>
           <button id="btnCancelRemove" type="button" class="cancel">Cancel</button>
             </span>
                <span>
           <button id="btnSaveRemove" type="submit" class="create">Remove</button>
            </span>
            </form>
        </div>
    </div>
    <!-- End of form-->

    <div class="grid-x grid-margin-x" id="opaqueDiv">
        <div class="medium-3 large-3 cell login_card">
            <!-- Card for navigation links-->
            <div class="card_head_position">
                <div class="stats">Menu</div>
                <div><a class="_stickers" href="/home">Home</a></div>
                <div><a class="_stickers_packs" href="/categories">Categories</a></div>
                <div><a class="_categories" href="/pack_collection">Packs</a></div>
            </div>
            <!-- End of card-->
        </div>

        <% include ../partials/search %>

    </div>
    <!-- <div class="grid-x grid-margin-x" id="opaqueDiv"> -->
</div>
<!-- </div> -->
</div>
</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="application/javascript"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script type="text/javascript" src="/public/assets/vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="/public/assets/js/custom.js"></script>
<script type="text/javascript" src="/public/assets/js/fileup.js"></script>
<script type="text/javascript" src="/public/assets/js/validate.js"></script>
</html>