<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign Up - Cyfa</title>

    <link rel="shortcut icon" type="image/x-icon" href="/public/assets/images/favicon.ico"/>

    <link rel="stylesheet" href="/public/assets/css/foundation.min.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/vendor/slick/slick.css"/>
    <link rel="stylesheet" href="/public/assets/css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <!--parse js-->
    <script src="https://npmcdn.com/parse/dist/parse.js"></script>
    <script>
        var password = document.getElementById("password"), confirm_password = document.getElementById("confirm_password");

        function validatePassword(){
            if(password.value !== confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
</head>

<body class="primary-background-color">
<!-- Body -->

<div class="grid-container">
    <!-- Logo -->
    <div class="medium-12 large-12">
        <a href="/home">
            <img src="/public/assets/images/G_logo.png"
                 srcset="/public/assets/images/G_logo@2x.png 2x,/public/assets/images/G_logo@3x.png 3x" class="logo">
        </a>
    </div>
    <!-- End of logo-->
    <span class="medium-12 large-12 welcome_post"><b>Welcome to Publisher</b></span>
    <div class="row" style="width: 50%; background: whitesmoke">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input style="margin-top: 30px;font-size: 2rem !important;" class="_signup_textbox" placeholder="Name"
                           type="text" tabindex="1" name="name">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input style="margin-top: 30px;font-size: 2rem !important;" class="_signup_textbox" placeholder="Email"
                           type="email" tabindex="1" name="username">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input style="margin-top: 30px;font-size: 2rem !important;" class="_signup_textbox" placeholder="Password"
                           type="password" tabindex="1" name="password">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input style="margin-top: 30px;font-size: 2rem !important;" class="_signup_textbox" placeholder="Password"
                           type="password" tabindex="1" name="confirm_password">
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <input type="checkbox" id="test5" />&nbsp;I Aggree With <a href="#" style="color: #a46580 !important;">Agreement</a>
                </div>
            </div>
            <div>
                <button name="login" type="submit" id="btnSign" data-submit="...Sending">Sign Up</button>
            </div>

        </form>
    </div>
    <!--<div class="grid-x grid-margin-x">-->
        <!--<div class="medium-3 large-3 cell login_card">-->
            <!-- Form to allow user login-->
            <!--<form action="/login" method="post">-->
                <!--<fieldset>-->
                    <!--<input style="margin-top: 30px;font-size: 2rem !important;" class="box" placeholder="Email"-->
                           <!--type="email" tabindex="1" name="username"><br>-->
                    <!--<input class="box" style="font-size: 2rem !important;" placeholder="Password" type="password"-->
                           <!--name="password" tabindex="2"><br>-->
                    <!--<button name="login" type="submit" id="btnLogin" data-submit="...Sending">Login</button>-->
                    <!--<br><br>-->
                    <!--<a href="/forgetPassword" class="forgotten_password">Forgot password?</a>-->
                    <!--<br><br>-->
                    <!--<a href="#" id="signUp" class="signup_text">Sign up here</a>-->
                <!--</fieldset>-->
            <!--</form>-->
            <!-- End of form-->
        <!--</div>-->
    <!--</div>-->
</div>

<!-- Body -->

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="application/javascript"/>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script type="text/javascript" src="/public/assets/vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="/public/assets/js/custom.js">
</script>

</body>


</html>