<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>

    <link rel="shortcut icon" type="image/x-icon" href="/public/assets/images/favicon.ico"/>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800,900');
    </style>

    <link rel="stylesheet" href="/public/assets/css/foundation.min.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/vendor/slick/slick.css"/>
    <link rel="stylesheet" href="/public/assets/css/custom.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <!--parse js-->
    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs"
            data-app-key="ed8po9zwpj4pnhw"></script>
    <script src="https://npmcdn.com/parse/dist/parse.js"></script>
    <script type="text/javascript">
        function dropbox() {
            options = {

                success: function (files) {
                    files.forEach(function (file) {
                        add_img_to_list(file);
                    });
                },
                cancel: function () {
                    //optional
                },
                linkType: "direct", // "preview" or "direct"
                multiselect: true, // true or false
                extensions: ['.png', '.jpg'],
            };
            Dropbox.choose(options);
        }


        function add_img_to_list(file) {
            //TODO try link instead of thumbnailLink
            var name = file.name;
            var source = file.link;
            var type = name.substr(name.length - 3);

            document.getElementById('fileUrl').value = source;
            document.getElementById('fileName').value = name;
            document.getElementById('fileType').value = type;
        }


    </script>
</head>

<body class="secondary-background-color">

<div class="grid-container">

    <div class="medium-12 large-12">
        <!-- Logo -->
        <a href="/home">
            <img src="/public/assets/images/G_logo.png"
                 srcset="/public/assets/images/G_logo@2x.png 2x,/public/assets/images/G_logo@3x.png 3x" class="logo">
        </a>
        <!-- End of logo -->
    </div>
    <span class="medium-12 large-12 welcome_post"><b><%= coll_name %> Sticker Pack</b></span>
    <div class="grid-x grid-margin-x">
        <div class="medium-12 large-12 cell">
            <!-- Form to add stickers from dropbox -->
            <form action="/upload_dropbox_file" method="post" id="formId">
                <div class="wrapper">
                    <div class="drop">
                        <img src="/public/assets/images/dropbox.png" class="image_upload" onclick="dropbox()">
                        <div class="choose_from_dropbox">
                            Choose from Dropbox
                        </div>
                    </div>
                </div>
                <input type="text" style="display: none" name="fileUrl" id="fileUrl">
                <input type="text" style="display: none;" name="fileName" id="fileName">
                <input type="text" style="display: none;" name="file" id="fileType">
                <input type="hidden" name="coll_id" style="display: none" value="<%= id %>"/>
                <center>
      <span>
        <button type="button" id="btnClearAddForm"><a href="/collection/<%= id %>" class="clear">Cancel</a></button>
      </span>
                    <span>
        <button type="submit" class="upload">Upload</button>
        </span>
                </center>
            </form>
            <!-- End of form -->
        </div>
    </div>
</div>
</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="application/javascript"/>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script type="text/javascript" src="/public/assets/vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="/public/assets/js/custom.js">
</script>

</html>