<!--Display Collections from parse-->
<% if (episodes.length === 0){ %>
<div class="medium-3 large-3 cell card-zoom icons">
    <p class="none">No Episodes</p>
</div>
<%} else {%>
<% episodes.forEach(function(item, index) { %>
    <a href="/storyitem/episode/<%= item.id %>/<%= projectItem.id %>" class="medium-3 large-3 cell card-zoom icons">
        <div style="margin: 150px 10px auto !important;" class="story_title truncate_story_title">
            <%= item.get("title") %>
        </div>
        <div class="story_summary truncate_summary">
            <%= item.get("summary") %>
        </div>
    </a>
<% }); %>
<%}%>
