<!-- Cards -->
<% if (chatMembers.length === 0) { %>

<% } else { %>
<% chatMembers.forEach(function(item, index) { %>

<div class="medium-3 large-3 cell icons" data-id="<%= item.id %>" data-name="<%= item.get("profile").content.name %>">

    <% if (item.get("profileImage") === undefined){ %>

    <p class="none"><b>No Artwork</b></p>

    <% } else { %>

    <img src="<%= item.get("profileImage").url() %>" class="card-image-size">

    <% } %>
    <span class="name_tag"><p class="sticker_name_text"><%= item.get("profile").content.name %></p></span>
</div>
<% }); %>
<% } %>




